<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>save</title>
</head>
<body>
  <form action="/member/save" method="post">
    ID: <input type="text" name="id"> <br>
    성명: <input type="text" name="name"> <br>
    비밀번호: <input type="password" name="password"> <br>

    회원유형을 선택하세요<br>

    <input type="radio" name="type" value="User" checked> 일반회원
    <input type="radio" name="type" value="Partner"> 파트너스<br>

    <input type="submit" value="회원가입">
  </form>

</body>
</html>